<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible " content="ie=edge">
    <title>TODO UI</title>
    <link rel="stylesheet" href="/stylesheets/todo-list.css">
</head>
<body id="root">
    <script>
        window.todoItems = '<%- JSON.stringify(todoItems) %>';
    </script>
    <script type="module" src="client/bundle.js"></script>
</body>
</html>